<!-- 资源 -->
<div class="">
    <div class="clearfix sec-nav">
        <h5 class="pull-left">热门文章</h5>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#">推荐</a></li>
            <li role="presentation"><a href="#">前端</a></li>
            <li role="presentation"><a href="#">Android</a></li>
            <li role="presentation"><a href="#">iOS</a></li>
            <li role="presentation"><a href="#">工具资源</a></li>
            <li role="presentation"><a href="#">后端</a></li>
            <li role="presentation"><a href="#">人工智能</a></li>
        </ul>
    </div>
    <% posts.forEach(function(post, index){ %>
    <div class="panel panel-default content-item" style="margin-bottom: 15px">
        <div class="panel-body">
            <div class="clearfix">
                <p class="list-group-item-text pull-left pub-show-tips">
                    <span>标签、图片变形处理中</span>
                </p>
                <p class="list-group-item-text pull-right pub-show-tips"><%= timeAgo(post.time) %></p>
            </div>
            <div class="pub-show-title">
                <a class="list-group-item-heading"><%= post.title %></a>
            </div>
            <div class="pub-show-user clearfix">
                <div class="pub-show-user-head pull-left">
                    <% if(post.head){ %>
                    <a href="/user/<%= post.useraccount %>">
                        <img src="<%= post.head %>" alt="头像" onerror="avatarError(this)">
                    </a>
                    <% }else{ %>
                    <a href="/user/<%= post.useraccount %>">
                        <img src="/images/default/default_avatar.jpg" alt="头像" onerror="avatarError(this)">
                    </a>
                    <% } %>
                </div>
                <div class="pub-show-user-info pull-left">
                    <a href="/user/<%= post.useraccount %>"><%= post.usernick %></a>
                </div>
            </div>
            <div class="row pub-show-content clearfix">
                <% if(post.cover){ %>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="pub-show-content-img pull-left">
                        <img src="<%= post.cover %>" alt="缩略图" onerror="imageError(this)">
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    <div class="pub-show-content-content pull-left">
                        <div class="pub-show-content-txt">
                            <%- cutStr(post.content) %>
                        </div>
                    </div>
                </div>
                <% } else { %>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="pub-show-content-content">
                        <div class="pub-show-content-txt">
                            <%- cutStr(post.content) %>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="pub-show-foot">
                <ul class="list-inline">
                    <li>
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp;12个人点赞
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;50条评论
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;收藏
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>&nbsp;分享
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <% }); %>
</div>