<%- include meta.ejs %>
<link rel="stylesheet" href="/css/edit.css">
<%- include header.ejs %>
<% if(user){ %>
<div class="container summary">
    <div class="user-edit-card">
        <%- include alert.ejs %>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <!--个人信息编辑头部-->
                <div class="pro-header">
                    <div class="user-cover-edit">
                        <button class="btn btn-default user-cover-edit-btn" type="button">
                            <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>&nbsp;编辑封面图片
                        </button>
                        <div class="user-cover">
                            <img class="UserCover-image" src="/images/banner1.jpg" alt="用户封面">
                        </div>
                        <input type="file" accept="image/png,image/jpeg" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
        <!--个人信息编辑主体部分-->
        <div class="pro-content">
            <div class="row ProfileHeader-main">
                <div class="col-sm-3 col-md-3 text-center" style="min-width: 168px;min-height: 168px">
                    <!--左侧，用户头像部分-->
                    <div class="UserAvatarEditor ProfileHeader-avatar">
                        <div class="UserAvatar">
                            <% if(user.head){ %>
                            <img id="showHead" class="Avatar Avatar--large UserAvatar-inner" src="<%= user.head %>"
                                 alt="头像" onerror="avatarError(this)">
                            <% }else{ %>
                            <img id="showHead" class="Avatar Avatar--large UserAvatar-inner"
                                 src="/images/default/default_avatar.jpg" alt="头像" onerror="avatarError(this)">
                            <% } %>
                        </div>
                        <div class="Mask UserAvatarEditor-mask">
                            <div class="Mask-mask Mask-mask--black UserAvatarEditor-maskInner"></div>
                            <div class="Mask-content">
                                <form id="headForm" method="post" action="/user/<%= user.useraccount %>/edit"
                                      enctype="multipart/form-data">
                                    <div class="form-group" style="margin-bottom: 0">
                                        <label for="uploadHead" class="UserAvatarEditor-maskInnerText"
                                               style="overflow: hidden;margin-bottom: 0">
                                            <span class="UserAvatarEditor-cameraIcon glyphicon glyphicon-camera"
                                                  aria-hidden="true"></span>
                                            <span class="UserAvatarEditor-maskInnerText">修改我的头像</span>
                                            <input id="uploadHead" name="head" type="file" accept="image/png,image/jpeg"
                                                   style="display: none">
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <button id="headBtn" type="button" class="btn btn-sm btn-danger">上传头像</button>
                    </div>
                </div>
                <!--右侧，用户资料部分-->
                <div class="col-sm-9 col-md-9">
                    <div class="ProfileHeader-content">
                        <div class="ProfileHeader-contentHead clearfix">
                            <h3 class="ProfileHeader-title pull-left">
                                <span class="ProfileHeader-name"><%= user.usernick %></span>
                            </h3>
                            <div class="ProfileEdit-expandActions pull-right">
                                <a href="/user/<%= user.useraccount %>">返回我的主页</a>
                            </div>
                        </div>
                        <div class="ProfileEdit-fields">
                            <form class="Field"><h3 class="Field-label">性别</h3>
                                <div class="Field-content">
                                    <div><span class="Field-text">男</span>
                                        <button class="btn btn-sm btn-default" type="button">
                                            <span class="btn-icon glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;修改
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <form class="Field"><h3 class="Field-label">一句话介绍</h3>
                                <div class="Field-content">
                                    <div><span class="Field-text"><span class="RichText">JUST Do IT</span></span>
                                        <button class="btn btn-sm btn-default" type="button">
                                            <span class="btn-icon glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;修改
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <form class="Field"><h3 class="Field-label">居住地</h3>
                                <div class="Field-content">
                                    <div class="AddButton">
                                        <button class="btn btn-sm btn-default" type="button">
                                            <span class="btn-icon glyphicon glyphicon-plus-sign"
                                                  aria-hidden="true"></span>&nbsp;添加居住地
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <form class="Field"><h3 class="Field-label">所在行业</h3>
                                <div class="Field-content">
                                    <div>
                                        <button class="btn btn-sm btn-default" type="button">
                                            <span class="btn-icon glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;请填写行业信息
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <form class="Field"><h3 class="Field-label">职业经历</h3>
                                <div class="Field-content">
                                    <div class="AddButton">
                                        <button class="btn btn-sm btn-default" type="button">
                                            <span class="btn-icon glyphicon glyphicon-plus-sign"
                                                  aria-hidden="true"></span>&nbsp;添加职业经历
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <form class="Field"><h3 class="Field-label">教育经历</h3>
                                <div class="Field-content">
                                    <div class="AddButton">
                                        <button class="btn btn-sm btn-default" type="button">
                                            <span class="btn-icon glyphicon glyphicon-plus-sign"
                                                  aria-hidden="true"></span>&nbsp;添加教育经历
                                        </button>
                                    </div>
                                    <div class="Field-list"></div>
                                </div>
                            </form>
                            <form class="Field"><h3 class="Field-label">个人简介</h3>
                                <div class="Field-content">
                                    <div class="DescriptionField-content">
                                        <button class="btn btn-sm btn-default" type="button">
                                            <span class="btn-icon glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;填写
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include footer.ejs %>
</div>
<script src="/js/edit.js"></script>
<% } %>
