<%- include meta.ejs %>
<%- include header.ejs %>
<%- include bg.ejs %>
<div class="container sea-summary">
    <%- include alert.ejs %>
    <div class="login-content">
        <h3 class="reg-title text-center">用户登录</h3>
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label for="account" class="col-sm-2 control-label">用户账号</label>
                <div class="col-sm-10">
                    <input id="account" type="text" class="form-control" name="account" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label for="user_pwd" class="col-sm-2 control-label">登录密码</label>
                <div class="col-sm-10">
                    <input id="user_pwd" type="password" class="form-control" name="user_pwd">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="btn-login" type="submit" class="btn btn-primary">登录</button>
                </div>
            </div>
        </form>
    </div>
    <%- include footer.ejs %>
</div>