<link rel="stylesheet" href="/css/posts.css">
<!-- 主体内容 -->
<div class="">
    <div class="clearfix sec-nav">
        <div class="pull-left" style="margin: 5px 0 0 5px;">
            <h5>热门文章</h5>
        </div>
        <div class="pull-right">
            <ul class="nav nav-pills" style="display: inline-block">
                <li role="presentation"><a href="#">运动健身</a></li>
                <li role="presentation"><a href="#">饮食</a></li>
                <li role="presentation"><a href="#">网络游戏</a></li>
                <li role="presentation"><a href="#">购物</a></li>
                <li role="presentation"><a href="#">旅行计划</a></li>
                <li role="presentation"><a href="#">更多</a></li>
            </ul>
        </div>
    </div>
    <% posts.forEach(function(post, index){ %>
    <div class="panel panel-default content-item">
        <div class="panel-body">
            <div class="clearfix">
                <p class="list-group-item-text pull-left pub-show-tips">
                    <span>来自话题:</span>
                    <% post.topics.forEach(function(topic){ %>
                    <span class="topic-show"><%= topic %></span>
                    <% }); %>
                </p>
                <p class="list-group-item-text pull-right pub-show-tips"><%= timeAgo(post.created) %></p>
            </div>
            <div class="pub-show-user clearfix">
                <% if(post.article_status.isAnonymous){ %>
                <div class="pub-show-user-head pub-show-user-head-anonymous pull-left">
                    <img src="/images/default/default_avatar.jpg" alt="头像" onerror="avatarError(this)">
                </div>
                <div class="pub-show-user-info pull-left">
                    <span class="nickname-show-anonymous">匿名用户</span>
                </div>
                <% }else { %>
                <div class="pub-show-user-head pull-left">
                    <% if(post.author.avatar){ %>
                    <a href="/user/<%= post.author.account %>">
                        <img src="<%= post.author.avatar %>" alt="头像" onerror="avatarError(this)">
                    </a>
                    <% }else{ %>
                    <a href="/user/<%= post.author.account %>">
                        <img src="/images/default/default_avatar.jpg" alt="头像" onerror="avatarError(this)">
                    </a>
                    <% } %>
                </div>
                <div class="pub-show-user-info pull-left">
                    <a class="nickname-show" href="/user/<%= post.author.account %>"><%= post.author.nickname %></a>
                    <% if(post.author.headline){ %>
                    <span class="user-sign">，<%= post.author.headline %></span>
                    <% } %>
                </div>
                <% } %>
            </div>
            <div class="pub-show-title">
                <a class="list-group-item-heading"><%= post.title %></a>
            </div>
            <div class="row pub-show-content clearfix">
                <% if(post.cover){ %>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="pub-show-content-img pull-left">
                        <img src="<%= post.cover %>" alt="封面" onerror="imageError(this)">
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    <div class="pub-show-content-content pull-left">
                        <div class="pub-show-content-txt">
                            <%- post.detail %>
                        </div>
                    </div>
                </div>
                <% } else { %>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="pub-show-content-content">
                        <div class="pub-show-content-txt">
                            <%- post.detail %>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="pub-show-foot">
                <ul class="list-inline clearfix">
                    <li>
                        <a class="praise-btn btn btn-sm btn-default" role="button">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;<span><%= post.praiseCount || 0 %></span>
                        </a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-comment"
                              aria-hidden="true"></span>&nbsp;<span><%= post.commentCount || 0 %></span>&nbsp;条评论
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp;<span>分享</span>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;<span>收藏</span>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <% }); %>
</div>