<%- include meta.ejs %>
<link rel="stylesheet" href="/css/publish.css">
<%- include header.ejs %>
<% if(user){ %>
<div class="container summary">
    <%- include alert.ejs %>
    <div class="publish-content">
        <h3 class="publish-title text-center">写文章</h3>
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label for="content-title" class="col-sm-2 control-label">请输入标题</label>
                <div class="col-sm-10">
                    <input id="content-title" name="title" type="text" class="form-control" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label for="content-text" class="col-sm-2 control-label">请输入正文</label>
                <div class="col-sm-10">
                    <input id="content-text" name="content" type="text" class="form-control" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label for="content-cover" class="col-sm-2 control-label">封面图（暂定）</label>
                <div class="col-sm-10">
                    <input id="content-cover" name="cover" type="text" class="form-control" value="/upload/head/head_1507802697_681269.jpg">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">发布</button>
                </div>
            </div>
        </form>
    </div>
    <%- include popTip.ejs %>
    <%- include footer.ejs %>
</div>
<% } %>